* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

@media screen and (min-width: 800px) {
    .webpage {
        display: flex;
        flex-direction: row;
    }
    
    .content {
        width: 100%;
    }

}